# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# =========================
# SQLite (runtime files)
# =========================
*.db
*.db-wal
*.db-shm

# =========================
# Logs
# =========================
*.log
logs/
*.out

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# JetBrains specific (səndə olanlar)
# =========================
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
